#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #646cff;
  width: 100vw;
  height: 100vh;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  margin: 0;
}

body {
  margin: 0;
  /*display: flex;*/
  /*place-items: center;*/
  min-width: 100vw;
  max-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #646cff;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

#gun-page, #product-page, #jumbatron-page {
  background: #0071e3 !important;
  z-index: 1 !important;
}

*::-webkit-scrollbar {
  width: 0 !important;
}

#webgi-canvas {
  width: 100vw;
  height: 100vh;
  background: transparent;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top: 0;
  pointer-events: none;
  background: transparent !important;
}

#webgi-canvas-container .button {
  background: #0071e3;
  color: #fff;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  position: absolute;
  top: 30px;
  border: none;
  z-index: 1;
  transition-duration: 0.3s;
}
